---
import ExperienceItem from "./ExperienceItem.astro"
/* TODO: Llenar arreglo con info de mi experiencia profesional*/
// TODO: Agregar id a cada elemento del arreglo y el "key" al iterar
const EXPERIENCE = [
    {
        date: "NOVIEMBRE 2023- PRESENTE",
        title: "Analista de Adquisiciones",
        description: "Encargado de la gestión y liberación de órdenes de compra a proveedores nacionales e internacionales, principalmente de México, Estados Unidos y Europa. Análisis de cobertura de materiales, seguimiento, trazabilidad y escalabilidad de materiales. Relación con departamentos y plantas externas a la personal para llevar a cabo una gestión conjunta de la planeación ",
        company: "Leoni"
    },
    {
        date: "ENERO - OCTUBRE 2023",
        title: "Administrador de Página Web",
        description: "Encargado del mantenimiento de la página web. Análisis de métricas y generación de Workflows para optimización de procesos. Conexión con API's. Registro de datos. Uso de Zapier en conjunto con Shopify y Airtable para administrar detos y automatizar procesos.",
        company: "Imperial Toys"
    },
    {
        date: "JUNIO - DICIEMBRE 2022",
        title: "Administrador de Compras",
        description: "Encargado del registro de compras, trato efectivo con proveedores para asegurar lazos comerciales adecuados y beneficiosos para la empresa, segumiento de pedidos, generación de órdenes y reportes de compra útiles para analizar sus datos y así poder hacer una toma de decisiones basada en ellos, análisis de requerimientos y adquisiciones y estudio de mercado para identificar tendencias en los precios.",
        company: "Imperial Toys"
    },
    {
        date: "ENERO - JUNIO 2022",
        title: "Auxiliar de envíos",
        description: "Encargado de la gestión, programación y seguimiento de pedidos, así como también el manejo de la información de los clientes. De igual manera, encargado de la generación de guías de rastreo, atención de reportes, diseño y mejora de procesos y manejo de base de datos.",
        company: "Imperial Toys",
    },

]
---
<ol class="relative border-s border-gray-200  ml-3">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience}/>
            </li> 
        ))
    }               

</ol>

