<article class="flex flex-col justify-center gap-10 items-center text-justify text-white/900 dark:text-gray-300 md:flex-row">
    <div >
        <p>
           Me llamo Nicolás Méndez Brito. Soy egresado de la carrera "Ingeniería Industrial Logística", sin embargo, empecé en el mundo de la programación en 2022 de manera autodidacta. Al año siguiente comencé el programa de "Orcale Next Education (ONE)", donde descubrí mi gusto por el Desarrollo Web. Durante 2023 terminé el programa ONE y continué mi aprendizaje a través de cursos que llevaran mis habilidades a otro nivel.
        </p><br>
        <p>
           Actualmente me encuentro en continuo aprendizaje, ya que en el mundo de la tecnología nunca dejas de aprender, por lo que considero importante seguirme actualizando día a día con las tecnologías emergentes.
        </p>
    </div>

    <img src="/Me.jpg" alt="Imagen Personal Nico" width="350" class="rounded-md shadow-2xl shadow-white/20 ">
</article>