---
import React from "./icons/ReactIcon.astro"
import Tailwind from "./icons/TailwindIcon.astro"
import TS from "./icons/TypeScriptIcon.astro"
import Node from "./icons/NodeJS.astro"
import ExpressJS from "./icons/ExpressJSIcon.astro"
import MongoDB from "./icons/MongoDBIcon.astro"
import GitIcon from "./icons/GitIcon.astro"
import GithubIcon from "./icons/GithubIcon.astro"
import NPM from "./icons/NPM.astro"
import Postman from "./icons/Postman.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import NextJsIcon from "./icons/NextJsIcon.astro"
---
<article class="p-3 border rounded-md bg-gray-600/40 shadow shadow-white">
    <div class="flex flex-col justify-around gap-14 items-center text-justify text-white/900 dark:text-gray-300 md:flex-row">
        <div class="w-1/2">
            <h2 class="flex justify-center mb-4 text-lg font-bold text-white dark:text-gray-100">Front-End</h2>
            <div class="flex justify-around flex-wrap sm:flex-row gap-8">
                <React class="size-14"/>
                <TS class="size-14"/>
                <Tailwind class="size-14"/>
                <NextJsIcon class="size-14"/>
            </div>
        </div>
        <div class="w-1/2">
            <h2 class="flex justify-center mb-4 text-lg font-bold text-white dark:text-gray-100">Back-End</h2>
            <div class="flex justify-around flex-wrap sm:flex-row gap-8">
                <Node class="size-14"/>
                <ExpressJS class="size-14"/>
                <MongoDB class="size-14"/>
                <PostgreSQL class="size-14"/>
            </div>
        </div>
    </div>
    <div class="w-1/2 mx-auto mt-8">
        <h2 class="flex justify-center mb-4 text-lg font-bold text-white dark:text-gray-100">Others</h2>
        <div class="flex justify-around flex-wrap sm:flex-row gap-8 ">
            <GitIcon class="size-14"/>
            <GithubIcon class="size-14"/>
            <NPM class="size-14"/>
            <Postman class="size-14"/>
        </div>
    </div>
</article>